In [9]:
import seaborn as sns
import pandas as pd
import numpy as np

In [10]:
import re
import nltk
stemmer = nltk.SnowballStemmer("english")
from nltk.corpus import stopwords
import string
stopword=set(stopwords.words('english'))

In [11]:
data = pd.read_csv(r'C:\Users\Tejas\Desktop\Capstone\DatasetsCleaned\UniformClasses\Raw\reddit.csv')

In [12]:
data

                                                    Text Class
0      1. > "y'all hear sumn?"  by all means I live i...   OFF
1      1. Because the Japanese aren't retarded and kn...   OFF
2      1. Where in the fuck do these women get these ...   OFF
3      1. Listen to that wording in the "article" aka...   OFF
4      1. Hate seeing inexperienced cops work, but ma...   NOT
...                                                  ...   ...
11665  5. \t\t\tShe won't.  Now we have video evidenc...   NOT
11666  6. \t\t\t\tNo.  What if there wasnt video evid...   NOT
11667   7. \t\t\t\tWoman against crazy women!!! Unite!!!   NOT
11668  8. \t\tNobody should care about this woman att...   NOT
11669                                                NaN   NOT

[11670 rows x 2 columns]

In [13]:
def clean_text(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text

In [14]:
data['Text']=data['Text'].apply(clean_text)

In [15]:
data

                                                    Text Class
0        yall hear sumn  mean live small town rn work...   OFF
1       japanes arent retard know fiction charact are...   OFF
2       fuck women get entitl attitud  deserv everyth...   OFF
3       listen word articl aka hit piec entir word wa...   OFF
4       hate see inexperienc cop work man love watch ...   NOT
...                                                  ...   ...
11665   \t\t\tshe wont  video evid shes crazi  yall n...   NOT
11666   \t\t\t\tno  wasnt video evid famili poor kid ...   NOT
11667                     \t\t\t\twoman crazi women unit   NOT
11668   \t\tnobodi care woman attempt destroy life ch...   NOT
11669                                                nan   NOT

[11670 rows x 2 columns]

In [16]:
data.to_csv(r"C:\Users\Tejas\Desktop\Capstone\DatasetsCleaned\UniformClasses\Clean\reddit.csv")